import url("http://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

p{
    font-size:xx-large;
    font-style:italic;
}
table{
    border:6px solid;
    width:75%;
    padding:10px;
    table-layout: fixed;
}

th{
    text-align:left;
}
th,td{
    padding:5px; 
    border: 3px solid;
    font-style:oblique;
    font-size: x-large;
}
a{
    color:black;
    border:2.5px solid black;
    font-style:oblique;
    padding:2px;
    font-size: smaller;
}
body{
   
    background: linear-gradient(45deg,pink,blue);
    justify-content:left;
}



