<!DOCTYPE html>
<html>
    <head>
	    <title>Index Page</title>
		<link rel="stylesheet" href='{{url_for("static",filename="css/main.css")}}/'>
	</head>
	<body>
		<style>
			body{
				font-style: italic;
				font-size: xx-large;
				line-height:35.5px ;
			}
		</style>
		<p>Table for the It Vedant Students</p>
		<a href="/insert">Add Student</a>
		<a href="/aboutus">About us</a>
		<a href="/contactnumber">Contact Us</a>
		{% if data %}
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Marks</th>
			</tr>
			{%for i in data%}
			<tr>
				<td>{{i[0]}}</td>
				<td>{{i[1]}}</td>
				<td>{{i[2]}}</td>
				<td><a href="/update/{{i[0]}}">Update</a></td>
				<td><a href="/delete/{{i[0]}}">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		<p>
			<br>OUR COURSES-</br>
		    <br>MASTER CERTIFICATION COURSES:</br>
			Data Science AI & AWS
			<br>Business Data Analysis</br>
			Full Stack Development
			<br>AWS & Azure Cloud Technology</br>

			<br>PG CERTIFICATION COURSES:</br>
			Data Science
			<br>Data Analytics</br>
			Digital Marketing & Analytics
			<br>Python Development</br>
			
		</p>
	</body>
</html>
